//
// Colors
// --------------------------------------------------

// Primary colors
// -- Used for branding
$highjump-very-light-color:       rgba( 177, 227, 249, 1);
$highjump-light-color:            rgba(121, 208, 233, 1);
$highjump-medium-color:           rgba(0, 116, 156, 1);
$highjump-dark-color:             rgba(2, 73, 95, 1);
$highjump-very-dark-color:        rgba(11, 41, 49, 1);

// Grey scale
// -- Used for text
$gray-base:                       #000;
$gray-darker:                     lighten($gray-base, 13.5%); // #222
$gray-dark:                       lighten($gray-base, 20.0%); // #333
$gray:                            lighten($gray-base, 33.5%); // #555
$gray-light:                      lighten($gray-base, 46.7%); // #777
$gray-lighter:                    lighten($gray-base, 93.5%); // #eee

// Base theme
// -- Should we utilize variables to assign colors to layout elements?
// -- Or should we simply assign primary colors directly to said elements?
$top-bar-background-color:        #f1f3f2;
$top-bar-border-color:            $highjump-medium-color;
