//
// Variables
// --------------------------------------------------

// Header
// -------------------------
$top-bar-height:                          70px;
$app-bar-height:                          50px;

// Nav
// -------------------------
$quick-nav-width:                         70px;
$nav-large-width:                         300px;