// Dropdown Branding
.dropdown {

  // Open State
  &.open .dropdown-toggle {
    background-color: $action-group-color-hover-background;
    color: $action-group-color-hover;
    text-decoration: none;
  }

  .dropdown-content {
    border-top: 1px solid #fff;
  }

  // Div Branding
  div.dropdown-content {
    background-color: $dropdown-color-background;
    color: $dropdown-color;
    padding: 0 18px;
  }

  // Stacked Branding
  ul.dropdown-content.stacked {
    background-color: $dropdown-color-background;
    min-width: 320px;

    // Brand the item
    li a {
      border-bottom: 1px solid $dropdown-color-border;
      color: $dropdown-color;
      display: block;
      font-size: 13px;
      padding: 0 18px;
      text-transform: uppercase;

      &:hover {
        background-color: $dropdown-color-hover-background;
        color: $dropdown-color-hover;
        @include transition(all $speed $animation);
      }
    }

    // Brand the current
    li.current > a,
    li.current > a:hover {
      background-color: $dropdown-color-current-background;
      border-bottom: 1px solid $dropdown-color-current-border;
      color: #fff;
    }

    // Brand the ancestor
    li.ancestor > a,
    li.ancestor > a:hover {
      background-color: $dropdown-color-ancestor-background;
      color: $dropdown-color-ancestor;
      border-bottom: 1px solid $dropdown-color-ancestor-border;
    }

    // Indent the second level
    li.current > ul > li > a { padding-left: 27px; }
  }
}