//
// Base
// --------------------------------------------------

// Global Layout
// -------------------------
html,
body,
body > div {
  height: 100% // Full height
}

body {
  font-family: $font-family;
  overflow-x: hidden; // Prevent horizontal scroll bar when pushing content
  padding-top: ($top-bar-height + $app-bar-height); // Height of the fixed header
}

.page-wrap {
  margin: 0 0 0 $quick-nav-width; // Offset left by the width of the quick-nav
  position: relative;
  left: 0; // Required for a smooth push animation
  right: 0; // Required for a smooth push animation
  top: 0; // Align to the top body margin
}

.content-wrap {
  padding: 40px 15px;
}

// Global Elements
// -------------------------

.page-title {
  margin: 0 0 40px 0;
  @include clearfix();

  h1 {
    color: #0c2931;
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;

    a {
      color: #0c2931;
    }
  }

  .paging {
    float: left;
    margin: -2px 30px 0 0;

    a {
      color: #b6b6b6;
    }
  }

  .dropdown {
    float: left;
  }

  .history {
    background-color: #f9f9f9;
    border: 1px solid #dfe0e0;
    list-style: none;
    margin: 12px 0 0 0;
    padding: 0;

    a {
      border-bottom: 1px solid #dfe0e0;
      color: #000;
      display: block;
      padding: 22px 24px;
      text-transform: uppercase;

      &.active,
      &:hover {
        background-color: #a7be75;
        color: #fff;
        @include transition(all $speed $animation);
      }
    }

    li.last a { border-bottom: 0; }
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

// Media Queries
// -------------------------
@media (max-width: $medium) {

  body {
    padding: 0;
  }

  .page-wrap {
    margin: 0;
    position: static;
  }

}