//
// Dropdowns
// --------------------------------------------------

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  display: none; // None by default, block with "open"

  &.open {
    display: block;
  }
}