//
// Header
// --------------------------------------------------

// Wrapper
// -------------------------
header {
  position: fixed;
  top: 0;
  left: 0; // Force full width
  right: 0; // Force full width
  z-index: 1030; // Must be higher than the z-index of .page-wrap
}

// Top Bar
// -------------------------
.top-bar {
  background-color: $top-bar-color-background;
  height: $top-bar-height;
  @include clearfix();

  .brand {
    background: #fff;
    border-right: 1px solid $top-bar-color-border;
    float: left;

    a {
      display: block;
      height: $top-bar-height;
      line-height: $top-bar-height;
      padding: 0 30px;
    }
  }

  .utilities {
    float: right;
    padding-right: 30px;

    > ul      { @include resetlist(); @include clearfix(); }
    > ul > li { float: left; }
    > ul > li > a {
      color: $top-bar-color;
      display: block;
      font-size: 24px;
      height: $top-bar-height; // Vertically center
      line-height: $top-bar-height; // Vertically center
      text-align: center;
      width: 65px; // Consistent width for each item
    }
  }

  .account {
    border-left: 1px solid $top-bar-color-border;
    float: right;

    .dropdown-toggle {
      display: block;
      height: $top-bar-height;
      @include clearfix();

      .name {
        color: $top-bar-color;
        float: left;
        font-weight: 700;
        height: $top-bar-height;
        line-height: $top-bar-height;
        padding: 0 20px;
        text-transform: uppercase;
      }

      .icon {
        background-color: $account-icon-color-background;
        color: $account-icon-color;
        float: left;
        font-size: 36px;
        height: $top-bar-height; // Vertically center
        line-height: $top-bar-height; // Vertically center
        text-align: center;
        width: 70px;
      }
    }
  }

  .thread-title {
    float: left;
    font-size: 2em;
    line-height: $top-bar-height;
  }

  .utilities a:hover,
  .utilities .open .dropdown-toggle,
  .account a:hover .name,
  .account .open .dropdown-toggle .name {
    background-color: $top-bar-color-hover-background;
    color: $top-bar-color-hover;
    @include transition(all $speed $animation);
  }
}

// App Bar
// -------------------------
.app-bar {
  background-color: $app-bar-color-background;
  height: $app-bar-height;
  line-height: $app-bar-height;
  padding: 0 15px;
  @include clearfix();

  ul { @include resetlist(); }

  // Action Groups
  .action-group {
    border-right: 1px solid $action-group-color-border;
    float: right;
    font-size: 13px;
    font-weight: 700;
    margin-right: 15px;
    padding-right: 15px;

    &.fixed {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;

      .fa { padding-right: 0; }
    }

    > ul        { @include clearfix(); }
    > ul > li   { float: left; }

    // Top Level Links
    > ul > li > a {
      color: $action-group-color;
      display: block;
      height: $app-bar-height;
      padding: 0 15px;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        background-color: $action-group-color-hover-background;
        color: $action-group-color-hover;
        text-decoration: none;
        @include transition(all 0.25s ease-in-out);
      }
    }

    .fa {
      bottom: -4px; // Used to vertically center
      font-size: 24px;
      padding-right: 8px;
      position: relative; // Used to vertically center

      &.fa-ellipsis-h { padding: 0; }
    }
  }

  // Dropdown Branding
  .dropdown {

    // Open State
    &.open .dropdown-toggle {
      background-color: $action-group-color-hover-background;
      color: $action-group-color-hover;
      text-decoration: none;
    }

    .dropdown-content {
      border-top: 1px solid #fff;
    }

    // Div Branding
    div.dropdown-content {
      background-color: $dropdown-color-background;
      color: $dropdown-color;
      padding: 0 18px;
    }
  }
}





// Media Queries
// -------------------------
@media (max-width: $medium) {

  header  {
    position: static;
  }

  .app-bar {
    display: none;
  }
}

@media (max-width: $small) {

  .top-bar {
    height: $small-top-bar-height;

    .brand a {
      height: $small-top-bar-height;
      line-height: $small-top-bar-height;
      padding: 0 15px;

      img {
        max-height: 30px;
      }
    }

    .utilities {
      padding-right: 0;

      > ul > li > a {
        height: $small-top-bar-height;
        line-height: $small-top-bar-height;
        width: 45px;
      }
    }

    .account .dropdown-toggle {
      height: $small-top-bar-height;

      .name {
        height: $small-top-bar-height;
        line-height: $small-top-bar-height;
        padding: 0 15px;
      }

      .icon {
        display: none;
      }
    }
    
    .thread-title{
      line-height: $small-top-bar-height;
    }

  }

}
