//
// Navigation
// --------------------------------------------------

// Fixed nav wrapper
// -------------------------
.nav-wrap {
  height: 100%;
  left: 0;
  position: fixed;
  top: ($top-bar-height + $app-bar-height); // Offset the top by the height of the brand and app-bar

  // Reset ALL unordered lists in the .nav-wrap
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Search styles used accross the push-nav menus
  li.search {
    background: #777c7f;
    padding: 22px 24px;

    input {
      background: transparent;
      border: none;
      color: #fff;

      &:focus {
        outline: 0; // Prevent outline on focus
      }
    }

    a {
      padding: 0;
    }
  }
}

// Quick nav
// -------------------------
.quick-nav {
  background-color: $quick-nav-background-color;
  height: 100%;
  position: relative;
  width: $quick-nav-width;
  z-index: 2; // Must have a higher z-index than .push-nav

  li {
    text-align: center;

    // Links
    a {
      color: $quick-nav-anchor-color;
      display: block;
      font-size: 32px;
      padding: 15px 0;
      text-align: center;

      &:hover,
      &.active {
        color: $highjump-light-color;
        @include transition(all, 0.5s);
      }
    }
  }
}

// Push nav
// -------------------------
.push-nav {
  background-color: $push-nav-background-color;
  font-size: 18px;
  width: $nav-large-width;
  height: 100%;
  position: absolute;
  top: 0;
  left: (($nav-large-width - $quick-nav-width) * -1); // Offset by the width of the quick nav and large nav combined
  z-index: 1; // Must have a lower z-index than .quick-nav

  li {
    border-bottom: 1px solid #908f8f;
    font-size: 18px;

    &.current {
      background-color: $push-nav-current-background-color;
      border-bottom: 1px solid #908f8f;
      color: #fff;
      padding: 24px 22px;
      text-transform: uppercase;
    }

    &.with-children {
      position: relative;

      &:before {
        color: #fff;
        font-family: FontAwesome;
        position: absolute;
        top: 26px;
        right: 22px;
        content: "\f105";
      }
    }
  }

  a {
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 24px 22px;

    &:hover,
    &:focus {
      background-color: #1f1f1f;
      text-decoration: none;
      @include transition(all, 0.25s);
    }
  }
}

// Animations
.push-nav,
.page-wrap {
  @include transition(left, 0.5s);
}

.push-nav-open {
  .push-nav.open  { left: $quick-nav-width; }
  .page-wrap      { left: $nav-large-width; }
}