//
// Navigation
// --------------------------------------------------

// Wrapper
// -------------------------
.nav-wrap {
  height: 100%;
  left: 0;
  position: fixed;
  top: ($top-bar-height + $app-bar-height); // Offset the top by the height of the brand and app-bar

  // Reset ALL anchors in the nav-wrap
  a {
    text-decoration: none;
  }

  // Reset ALL unordered lists in the nav-wrap
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Search styles used accross the push-nav menus
  .search {
    background: #07191e;
    padding: 22px 24px;

    input {
      background: transparent;
      border: none;
      color: #fff;

      &:focus {
        outline: 0; // Prevent outline on focus
      }
    }

    a {
      color: #78878b;
      float: right;
      padding: 0;
    }
  }
}

// Quick Nav
// -------------------------
.quick-nav {
  background-color: $quick-color-background;
  width: $quick-nav-width;
  height: 100%;
  position: relative;
  z-index: 2; // Must have a higher z-index than .push-nav

  li {
    text-align: center;

    // Links
    a {
      color: $quick-color;
      display: block;
      font-size: 32px;
      padding: 15px 0;
      text-align: center;

      &:hover,
      &.active {
        color: $quick-color-hover;
        @include transition(all $speed $animation);
      }
    }
  }
}

// Push Nav / Stacked
// -------------------------
.push-nav {
  background-color: $push-color-background;
  font-size: $nav-account-font-size;
  width: $push-nav-width;
  height: 100%; // Height is set in script to account for overflow-y: auto
  overflow-y: auto; // Allow vertical scrolling for very long menus
  position: absolute;
  top: 0;
  left: (($push-nav-width - $quick-nav-width) * -1); // Offset by the width of the quick nav and push nav combined
  z-index: 1; // Must have a lower z-index than .quick-nav

  // Brand the item
  li a {
    border-bottom: 1px solid $push-color-border;
    color: $push-color;
    display: block;
    font-size: $nav-account-font-size;
    padding: $nav-account-vertical-padding $nav-account-horizontal-padding;

    &:hover {
      background-color: $push-color-hover-background;
      color: $push-color-hover;
      @include transition(all $speed $animation);
    }
  }

  // Brand the current
  li.current > a,
  li.current > a:hover {
    background-color: $push-color-current-background;
    color: $push-color-current;
    border-bottom: 1px solid $push-color-current-border;
  }

  // Brand the ancestor
  li.ancestor > a,
  li.ancestor > a{
    background-color: $push-color-ancestor-background;
    color: $push-color-ancestor;
    border-bottom: 1px solid $push-color-ancestor-border;
  }

  // Indent the second level
  li.current > ul > li > a { padding-left: ($nav-account-horizontal-padding / 2) + $nav-account-horizontal-padding; }
}

// Animations
// -------------------------
.push-nav,
.page-wrap {
  @include transition(left $speed $animation);
}

.push-nav-open {
  .push-nav.open  { left: $quick-nav-width; }
  .page-wrap      { left: $push-nav-width; }
}